.link-four2,
.link-one2 {
  position: relative;
  line-height: 150%;
}
.link-one2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--text-regular-link-size);
  font-family: var(--text-medium-bold);
  color: var(--border-primary);
  text-align: left;
  display: inline-block;
}
.link-four2 {
  width: 37px;
  display: none;
}
.chevron-down-icon1 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.nav-link-dropdown1 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.column6,
.frame {
  position: absolute;
  width: 390px;
  overflow: hidden;
}
.column6 {
  top: 43px;
  left: 0;
  height: 24.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame {
  top: 50px;
  left: 51px;
  height: 67.5px;
}
.color-dark2 {
  width: 63px;
  position: relative;
  height: 27px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.link-one3 {
  position: relative;
  line-height: 150%;
}
.nav-link-dropdown2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.column7 {
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.content32 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.styleprimary-smalltrue-dar1,
.stylesecondary-smalltrue-d1 {
  border: 1px solid var(--border-primary);
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xl);
  cursor: pointer;
}
.stylesecondary-smalltrue-d1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.styleprimary-smalltrue-dar1 {
  background-color: var(--border-primary);
  color: var(--color-brand-white);
}
.actions7,
.content31,
.styleprimary-smalltrue-dar1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.actions7 {
  text-decoration: none;
  justify-content: center;
  gap: var(--gap-base);
  cursor: pointer;
  color: inherit;
}
.content31 {
  align-self: stretch;
  border-bottom: 1px solid var(--border-primary);
  box-sizing: border-box;
  height: 72px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 0 var(--padding-45xl);
}
.page-group-one1 {
  font-size: var(--text-small-link-size);
  font-weight: 600;
}
.lorem-ipsum-dolor12,
.page-group-one1,
.page-one1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.page-one1 {
  font-weight: 600;
}
.lorem-ipsum-dolor12 {
  font-size: var(--text-small-link-size);
}
.content33,
.menu-item8,
.menu1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content33 {
  flex: 1;
  flex-direction: column;
}
.menu-item8,
.menu1 {
  flex-direction: row;
}
.menu-item8 {
  align-self: stretch;
  padding: var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.menu1 {
  flex: 1;
  padding: var(--padding-13xl) var(--padding-13xl) var(--padding-13xl)
    var(--padding-45xl);
  gap: var(--gap-13xl);
}
.placeholder-image-icon6 {
  width: 160px;
  position: relative;
  height: 105px;
  object-fit: cover;
}
.content42 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.read-more2 {
  position: relative;
  font-size: var(--text-small-link-size);
  text-decoration: underline;
  line-height: 150%;
}
.blog-item2,
.blog-list1,
.content41 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content41 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.blog-item2,
.blog-list1 {
  align-self: stretch;
}
.blog-item2 {
  flex-direction: row;
  padding: var(--padding-5xs) 0;
  gap: var(--gap-5xl);
}
.blog-list1 {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.stylelink-smallfalse-dark5 {
  width: 136px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.blog1 {
  align-self: stretch;
  width: 560px;
  background-color: var(--background-color-secondary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-77xl) var(--padding-13xl)
    var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.mega-menu1,
.navbar-51 {
  width: 1440px;
  overflow: hidden;
  justify-content: flex-start;
}
.mega-menu1 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
}
.navbar-51 {
  background-color: var(--color-brand-white);
  border-bottom: 1px solid var(--border-primary);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--border-primary);
}
.tagline {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.connectivity {
  color: var(--color-brand-white);
}
.lorem-ipsum-dolor22,
.short-heading-here-container {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.lorem-ipsum-dolor22 {
  font-size: var(--text-medium-bold-size);
  line-height: 150%;
  color: var(--color-brand-white);
}
.content45,
.section-title6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content45 {
  gap: var(--gap-5xl);
  font-size: var(--heading-h1-size);
  color: var(--color-goldenrod);
}
.section-title6 {
  gap: var(--gap-base);
}
.button19 {
  position: relative;
  font-size: var(--text-regular-link-size);
  line-height: 150%;
  font-family: var(--text-medium-bold);
  color: var(--color-brand-white);
  text-align: left;
}
.styleprimary-smallfalse-da2,
.stylesecondary-smallfalse7 {
  cursor: pointer;
  border: 1px solid var(--color-brand-white);
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: transparent;
  border-radius: var(--br-xl);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.styleprimary-smallfalse-da2 {
  display: none;
}
.stylesecondary-smallfalse7 {
  display: flex;
}
.actions8,
.container4,
.header-50 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.actions8 {
  flex-direction: row;
  padding: var(--padding-base) 0 0;
  gap: var(--gap-base);
  cursor: pointer;
}
.container4,
.header-50 {
  flex-direction: column;
}
.container4 {
  width: 768px;
  gap: var(--gap-5xl);
}
.header-50 {
  text-decoration: none;
  width: 1440px;
  overflow: hidden;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  background-image: url(./public/header--50@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: inherit;
}
.heading5 {
  align-self: stretch;
  position: relative;
  font-size: var(--heading-desktop-h2-size);
  line-height: 120%;
  color: var(--color-goldenrod);
}
.column8 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.stylelink-smallfalse-dark6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.actions9,
.column9 {
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.actions9 {
  display: none;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) 0 0;
}
.column9 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--text-medium-bold-size);
}
.content46 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-61xl);
}
.layout-41 {
  width: 1440px;
  background: linear-gradient(
    180deg,
    rgba(0, 139, 223, 0.85) 14%,
    rgba(50, 161, 228, 0.71) 75%,
    rgba(50, 161, 228, 0.71)
  );
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
}
.text-suspendisse-varius {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.button24 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--text-regular-link-size);
  line-height: 150%;
  font-family: var(--text-medium-bold);
  color: var(--color-brand-white);
  text-align: left;
  display: inline-block;
}
.stylelink-smallfalse-dark7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.placeholder-image-icon8 {
  align-self: stretch;
  position: relative;
  border-radius: 23px;
  max-width: 100%;
  overflow: hidden;
  height: 738px;
  flex-shrink: 0;
  object-fit: cover;
}
.content50,
.layout-89 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.layout-89 {
  width: 1440px;
  background: linear-gradient(
    180deg,
    rgba(50, 161, 228, 0.7),
    rgba(17, 163, 252, 0.8) 49%,
    rgba(0, 139, 223, 0.84)
  );
  overflow: hidden;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
}
.content50 {
  align-self: stretch;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--heading-desktop-h2-size);
  color: var(--color-goldenrod);
}
.subheading-one,
.text14 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.text14 {
  font-size: var(--text-regular-link-size);
  line-height: 150%;
}
.content49,
.list,
.list-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.list-item {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
}
.content49,
.list {
  align-self: stretch;
}
.list {
  flex-direction: row;
  padding: var(--padding-5xs) 0;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--heading-desktop-h6-size);
}
.content49 {
  flex-direction: column;
  gap: var(--gap-13xl);
}
.icon-chevron-right8 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.actions11,
.content48 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.actions11 {
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) 0 0;
}
.content48 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.placeholder-image-icon9 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 640px;
  object-fit: cover;
}
.container5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.layout-4 {
  width: 1440px;
  background: linear-gradient(
    180deg,
    rgba(0, 139, 223, 0.85),
    rgba(17, 163, 252, 0.8) 39.5%,
    rgba(50, 161, 228, 0.71)
  );
  overflow: hidden;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  text-align: center;
}
.content51,
.layout-4,
.section-title8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content51 {
  align-self: stretch;
  gap: var(--gap-5xl);
  font-size: var(--heading-desktop-h2-size);
  color: var(--color-goldenrod);
}
.section-title8 {
  width: 768px;
  gap: var(--gap-base);
}
.icon-envelope {
  width: 48px;
  position: relative;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.heading9,
.link,
.text17 {
  align-self: stretch;
  position: relative;
  line-height: 130%;
}
.link,
.text17 {
  font-size: var(--text-regular-link-size);
  line-height: 150%;
  color: var(--color-brand-white);
}
.link {
  text-decoration: underline;
  cursor: pointer;
}
.contact-info {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.link1,
.link2 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-regular-link-size);
  text-decoration: underline;
  line-height: 150%;
  color: var(--color-brand-white);
}
.contact-19,
.logo1,
.row1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.row1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-29xl);
  font-size: var(--heading-h4-size);
  color: var(--color-goldenrod);
}
.contact-19,
.logo1 {
  overflow: hidden;
  flex-direction: column;
}
.contact-19 {
  width: 1440px;
  background: linear-gradient(
    180deg,
    rgba(50, 161, 228, 0.71),
    rgba(17, 163, 252, 0.8) 41.5%,
    rgba(0, 139, 223, 0.85)
  );
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
}
.logo1 {
  flex: 1;
}
.link-four4 {
  width: 97px;
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.links1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.social-links-icon1 {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.content58 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.divider7 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-brand-white);
  border: 1px solid var(--color-brand-white);
  box-sizing: border-box;
  height: 1px;
}
.privacy-policy1 {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
}
.about-us,
.credits1,
.footer-41,
.row2 {
  display: flex;
  justify-content: flex-start;
}
.row2 {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.about-us,
.credits1,
.footer-41 {
  flex-direction: column;
}
.credits1 {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-13xl);
  font-size: var(--text-small-link-size);
}
.about-us,
.footer-41 {
  width: 1440px;
}
.footer-41 {
  background-color: rgba(0, 139, 223, 0.85);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-61xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
}
.about-us {
  top: 3px;
  left: 0;
  height: 4145px;
  align-items: flex-start;
}
.about-us,
.column12,
.frame2 {
  position: absolute;
  overflow: hidden;
}
.column12 {
  top: 39px;
  left: 47px;
  width: 390px;
  height: 24.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--border-primary);
}
.frame2 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 4148px;
}
.interconnect1 {
  position: absolute;
  top: 0;
  left: 7px;
  font-size: var(--heading-h5-size);
  line-height: 140%;
  display: inline-block;
  color: var(--color-goldenrod);
  text-align: right;
  width: 167px;
  height: 43px;
}
.frame1 {
  position: absolute;
  top: 50px;
  left: -7px;
  width: 1440px;
  height: 4148px;
  overflow: hidden;
  color: var(--color-brand-white);
}
.about {
  width: 100%;
  position: relative;
  height: 4240px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-regular-link-size);
  color: var(--border-primary);
  font-family: var(--text-medium-bold);
}
